<%- include header %>
<!-- <div class="container"> -->
    <ul class="list-group col-sm-8">
         <li class="list-group-item">
             <h3><a href="#">学习node.js</a></h3>
             <p class="info">
                 <span>作者：ryuan</span>
                 <span>|</span>
                 <span>日期：2017-10-07</span>
             </p>
         </li>
         <hr>
          <li class="list-group-item">
             <h3><a href="#">express+bootstrap搭建个人博客</a></h3>
             <p class="info">
                 <span>作者：ryuan</span>
                 <span>|</span>
                 <span>日期：2017-10-10</span>
             </p>
         </li>
    </ul>
    <div class="col-sm-offset-1 col-sm-3">
        <h4>公告</h4>
    </div>
<!-- </div> -->
<%- include footer %>